<!-- app/templates/register.html -->
{% extends "layout.html" %}

{% block content %}
    <h2>Register</h2>
    <form method="POST" action="{{ url_for('main.register') }}">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}<br>
            {% for error in form.confirm_password.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.zipcode.label }}<br>
            {{ form.zipcode(size=10) }}<br>
            {% for error in form.zipcode.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.submit(class_='button') }}
        </div>
    </form>
{% endblock %}
